[role="main"] {
    padding-top: 133px; /* Space for fixed navbar */
}

.icon-back {
    position: fixed;
    top: 88px;
    left: 40px;
}

.book-reader {
    margin-top: 48px;
    width: 100%;
    height: 100%;
}

.card-header-link,
.card-header-link:hover{
    text-decoration: none;
    color: black;
}

.col1{
    min-width: 304px;
}

.col2 {
    min-width: 260px;
}

.col3{
    min-width: 530px;
}

@media (min-width: 768px) {
    [role="main"] {
        padding-top: 48px; /* Space for fixed navbar */
    }
}
@media (min-width: 34em) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 48em) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

@media (min-width: 62em) {
    .card-columns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
}

@media (min-width: 75em) {
    .card-columns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
}